.deliver {
    padding: 60px 0;

    &__wrap {
        @extend %centered;

    }

    &__header {
        max-width: 588px;
        margin-right: 163px;
    }

    &__title {
        font: $h2-font;
        color: $black;
        padding-bottom: 17px;
    }

    &__info {
        font: $main-font;
    }

    &__count {
        width: 410px;

        &-list {
            counter-reset: section;
            }
        
        &-item {
            display: flex;
            position: relative;
            padding-bottom: 25px;

            &-title {
                font: $h3-font;
                color: $black;
            }    

            &-info {
                font: $main-font;
            }
        }
        
        &-item::before {
            display: block;
            position: absolute;
            width: 67px;
            height: 67px;
            counter-increment: section;
            content: counters(section,".") " ";
            color: $green;
            font-size: 35px;
            font-weight: 600;
            text-align: center;
            background-color: $white;
            box-shadow: 0px 10px 20px rgba(22, 52, 7, 0.05);
            border-radius: 50%;
            left: -85px;
            }    
        }
    }

    @media(max-width: 1024px) {
        .deliver {
            &__title {
                font-size: 40px;
            }

            &__count-item-title {
                font-size: 22px;
            }
        }
    }


    @media(max-width: 768px) {
        .deliver {
            padding: 30px 0;

            &__header {
                width: 100%;
            }

            &__wrap {
                display: block;
                padding-left: 40px;
            }

            &__title {
                font-size: 40px;
            }
        
            &__info {
                margin-bottom: 20px;
            }

            &__count {

                width: 100%;

                &-item {
                   padding-left: 100px;
                }

                &-item::before {
                    left: 0;
                    top: 0;
                }
            }
        }    
    }