.footer {
    padding-top: 50px;
    position: relative;

    &::before {
        content: "";
        width: 1146px;
        height: 1px;
        left: 226px;
        position: absolute;
        background: rgb(89,190,41);
        background: linear-gradient(90deg, rgba(89,190,41,0) 0%, rgba(89,190,41,0.3) 30%, rgba(89,190,41,0.4) 50%, rgba(89,190,41,0.3) 70%, rgba(89,190,41,0) 100%);
    }

    &__wrap {
        display: flex;
        padding: 86px 0 104px;
    }

    &__logo {
        line-height: 0;
        padding-bottom: 26px;

        img {
            max-width: 164px;
            max-height: 65px;
        }
    }

    &__descr {
        width: 339px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
        color: $black;
    }

    &__col {
        
        &--nav {
            display: flex; 
            padding: 0 100px 0 150px;           
        }
    }
}