.subscribe {
    padding: 70px 0 50px;

    &__wrap {
        display: flex;
        align-items: center;
        border-radius: 30px;
        background-color: $white;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            top: 30px;
            left: 30px;
            width: 100%;
            height: 100%;
            background-color: rgba(14, 35, 4, 0.05);
            filter: blur(100px);
            z-index: -1;
        }
    }

    &__col {
        width: 50%;
        padding: 0 20px;

        &--img {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--info {
            padding: 70px 20px;
        }
    }

    &__img {
        max-width: 100%;
        max-height: 100%;
    }

    &__title {
        font: $h2-font;
        color: $title-color;
        margin-bottom: 25px;
    }

    &__descr {
        margin-bottom: 25px;
    }

    &__form {
        display: flex;
    }

    &__message {
        margin-right: 30px;
        max-width: 258px;
    }
}